* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  .container {
    /* background-color: #e5e5fd; */
    /* min-height: 100vh; */
    /* border: 10px blue solid; */
  }
  
  .content{
      margin: 0 auto;
      max-width: 900px;
      border: 1.5px solid slategrey;
  }

 .main-info{
    background-color: aliceblue ;
    padding: 15px;
    margin-left: 20px;
    margin-top: 40px;
 }
  
  .image_container   img{
  width: 230px;
  height: 250px;
  margin-right: 30px;
  margin-top: 35px;
  border: 5px solid green;
  }

  .intro_section{
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
      align-items: flex-start;
  }
  .intro_section h1{
    
      font-size: 50px;
      font-weight: bold;
      color: #1d1d4c;
      text-transform: uppercase;
  }
  .intro_section h4{
      text-align: start;
      font-size: 25px;
  }
  .intro_container{
      border-radius: 50%;
      overflow: hidden;
  }
   
 
  ul {
    list-style-type: none;
    text-align: start;
    
  }



.profile{
    background-color: aliceblue;
    margin-top: 35px;
    margin-left: 20px;
    padding: 20px;
}


.prof{
  display: flex;
}

.skills{
  display: flex;
  /* justify-content: space-between; */
}
.skill-item {
  /* padding-left: 100px; */
  display: flex;
}
.skill-item ul{
  list-style-type: disc;
  margin-left: 25px;
}
.skill-item  ul li::marker {
  color: green; /* Change the color to your desired color */
}
p{
  text-align: justify;
}
.exp{
  display: flex;
}
.exp-info{
  margin-left: 50px;
  
}
.exp-info ul{
  margin: auto;
  
}

  

  
  .skills-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  .skills-column {
    flex: 1;
  }
  .skills-column h2 {
    text-align: center;
  }
  .skill {
    margin-bottom: 8px;
  }

  

  .prof p{
    margin-left: 20px;
  }



  
table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px;
}
th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.education{
  margin-top: 15px;

}
.education h1{
  margin-left: 20px;
}
.education table{
  min-width: 880px;
}

